<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="/stylesheets/style.css"> </link>
    <link rel="stylesheet" href="/stylesheets/chat_style.css"> </link>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
</head>
<body>
    <marquee>Upen Express Chat App</marquee>
    <h1>{{title}}</h1>
    <p>Welcome to {{title}}</p><hr>
    <div id="mario-chat">
        <div id="chat-window">
            <div id="output"></div>
        </div>
        <input id="handle" type="text" placeholder="Name" />
        <input id="message" type="text" placeholder="Message" />
        <button id="send" value="send">Send</button>
    </div>
    <script src="/javascripts/chat.js"></script>
</body>
</html>